@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #D2E3C8;
}
.container{
    width: 50%;
    margin: 140px auto;
    padding: 70px 40px;
    background-color: #232D3F;
    color: #D2E3C8;
    border-radius: 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#author{
    text-align: end;
    margin-top: 8px;
    margin-bottom: 20px;
}
#btn{
    background-color: #D2E3C8;
    padding: 12px 30px;
    border: none;
    border-radius: 12px;
    color: #232D3F;
    font-weight: 800;
    display: block;
    margin: 0 auto;
    margin-top: 20px !important;
}